body{
    margin: 0;
    /* height: 100vh; */
background-color: rgb(187, 178, 243);
 

}
.whol{
    margin-left:30px;
    /* display: flex; */
    justify-content: center;
  
}
.font{
    /* font-style: oblique; */
    font-size: 18px;
    font-family:  sans-serif;
    

}